@import 'tailwindcss';

@theme {
  /* ------------ COLORS ------------ */
  --color-primary-50: #f8f9fa;
  --color-primary-100: #f1f2f4;
  --color-primary-200: #dfe2e5;
  --color-primary-300: #d0d4d8;
  --color-primary-400: #afb5bb;
  --color-primary-500: #6c757d;
  --color-primary-600: #495057;
  --color-primary-700: #343a40;
  --color-primary-800: #23292f;

  --color-red-500: #e65041;

  /* ------------ FONTS ------------ */
  --text-xxs: 0.625rem;

  --font-rubik: 'Rubik', sans-serif;
  --font-mulish: 'Mulish', sans-serif;
}

@layer base {
  html {
    @apply font-rubik text-primary-800;
  }

  input {
    outline: none;
  }
}

/* ------------ TYPOGRAPHY ------------ */
@utility mulish-60-black {
  @apply font-mulish text-6xl font-black;
}

@utility rubik-24-semibold {
  @apply font-rubik text-2xl font-semibold;
}

@utility rubik-18-regular {
  @apply font-rubik text-lg font-normal;
}

@utility rubik-18-semibold {
  @apply font-rubik text-lg font-semibold;
}

@utility rubik-16-regular {
  @apply font-rubik text-base font-normal;
}

@utility rubik-16-medium {
  @apply font-rubik text-base font-medium;
}

@utility rubik-14-regular {
  @apply font-rubik text-sm font-normal;
}

@utility rubik-12-regular {
  @apply font-rubik text-xs font-normal;
}

@utility mulish-10-semibold {
  @apply font-mulish text-xxs font-semibold;
}
